include MANIFEST.in
include setup_egg.py
include setup_extra.py
include INSTALL.txt

recursive-include examples *.py *.gz 
recursive-include doc *.py *.rst Makefile *.html *.txt

include pygraphviz/tests/*.txt

global-exclude *~
global-exclude *.pyc
global-exclude .svn

prune doc/build
